<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ActionController</servlet-name>
        <servlet-class>COM.RBNELITE.BUSINESSPORTAL.CONTROLLER.ActionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>COM.RBNELITE.BUSINESSPORTAL.CONTROLLER.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>COM.RBNELITE.BUSINESSPORTAL.CONTROLLER.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileImageServlet</servlet-name>
        <servlet-class>COM.RBNELITE.BUSINESSPORTAL.CONTROLLER.ProfileImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolutionController</servlet-name>
        <servlet-class>COM.RBNELITE.BUSINESSPORTAL.CONTROLLER.SolutionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageController</servlet-name>
        <servlet-class>COM.RBNELITE.BUSINESSPORTAL.CONTROLLER.MessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProductImage</servlet-name>
        <servlet-class>COM.RBNELITE.BUSINESSPORTAL.CONTROLLER.UploadProductImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionController</servlet-name>
        <url-pattern>/ActionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/Demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileImageServlet</servlet-name>
        <url-pattern>/ProfileImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolutionController</servlet-name>
        <url-pattern>/SolutionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageController</servlet-name>
        <url-pattern>/MessageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProductImage</servlet-name>
        <url-pattern>/UploadProductImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
