/* 
    Document   : calender
    Created on : Aug 2, 2013, 2:09:36 PM
    Author     : RBNelite
    Description:
        Purpose of the stylesheet follows.
*/


.cal_calendar
{
       border-radius: 15px;
       padding:0px;
       background-color:menu;
       width:270px;
       margin:auto;
       height:246px;
      
      
}
.cal_calendar th
{
       
        background-color: #60B9CE;
        background-color:#ffffff;
        width:36px;
}
.cal_calendar td
{
        border-radius: 5px;
        background-color: #fab039;
        text-align:center;
        width:36px;
        height:36px;
       
}
.cal_today
{
        color:#ff0000;
        font-weight:bold;
}
.cal_days_bef_aft
{
        color:#5a779e;
}


